*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}
#goBack{
    position: relative;
    top:50px;
    right:130px;
    font-size:40px;
    color:#fff;
    z-index: 100;
}

.container{
    width:100%;
    height:100vh;
    background-color: #1b1b33;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.content{
    position: relative;
    /* background-color: aqua; */
    width:100%;
    height:100vh;
    border-radius:10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.modal-bg{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 100vh;
    /* background-color: rgba(0, 0, 0, 0.5); */
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s,opacity 0.5s;
}

.modal-view{
    visibility: visible;
    opacity: 1;
}

.modal{
    position: relative;
    width:75%;
    height:70%;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
    text-align: center;
}
#modal-close{
    position:absolute;
    top:10px;
    right:10px;
    cursor: pointer;
}
.flags{
    width:24px;
}

@media screen and (min-width:500px) {
    .modal{
        width:30%;
    }
}